In [126]:
from fcmeans import FCM
import pandas as pd

In [127]:
df = pd.read_excel("data.xlsx", 0)

In [128]:
# df = df.sort_values(by="Total150",ascending=[0])

In [129]:
df.head()

,S.No.,Roll No.,NAME,CT1 40,CT2 40,DHA/CA 40,DHA/CA 40.1,AA 20,Att 10,Total150,EXPECTED GRADES,FINAL GRADES
0,1,1700537,a,31,A,27,30,17,0,105,NaN,NaN
1,2,1700543,b,32,A,32,38,18,4,124,NaN,NaN
2,3,1700565,c,28,A,28,30,17,2,105,NaN,NaN
3,4,1700532,d,28,31,17,32,15,0,106,NaN,NaN
4,5,1700539,e,28,27,28,30,15,10,111,NaN,NaN

In [130]:
data2 = df[['Total150', 'Total150']]

In [131]:
fcm = FCM(n_clusters=10)

In [132]:
fcm = FCM(n_clusters=10)
fcm.fit(data2)

In [133]:
fcm_centers = fcm.centers

In [134]:
# fcm_centers.columns = ["Total150","feature"]
# fcm_centers
# fcm_centers["Cluster_id"] = [0,1,2,3,4,5,6,7,8,9]
# fcm_centers = fcm_centers.sort_values(by="Total150",ascending=[0])
# fcm_centers["Grade"] = ["A","A-","B","B-","C","C-","D","D-","E","F"]
# fcm_centers

In [135]:
predicted_membership = fcm.predict(data2)

In [136]:
predicted_membership

array([6, 5, 6, 6, 0, 0, 9, 2, 5, 2, 3, 8, 9, 1, 0, 8, 1, 2, 0, 7, 7, 2,
       4, 4, 4, 1, 7, 6, 6, 6, 4, 5, 8, 4, 2, 8, 4, 2, 4, 0, 2, 7, 8, 6,
       6, 4, 0, 5, 1, 0, 5, 4, 4])

In [137]:
fcm_centers.columns = ["Total150","feature"]
fcm_centers
fcm_centers["Cluster_id"] = [0,1,2,3,4,5,6,7,8,9]
fcm_centers = fcm_centers.sort_values(by="Total150",ascending=[0])
fcm_centers["Grade"] = ["A","A-","B","B-","C","C-","D","D-","E","F"]
fcm_centers

     Total150     feature  Cluster_id Grade
9  131.642393  131.642393           9     A
5  123.390026  123.390026           5    A-
0  114.028641  114.028641           0     B
6  106.420807  106.420807           6    B-
2  101.967369  101.967369           2     C
8   94.743265   94.743265           8    C-
1   90.345632   90.345632           1     D
3   82.856973   82.856973           3    D-
4   75.112719   75.112719           4     E
7   51.730450   51.730450           7     F

In [141]:
df['EXPECTED GRADES'] = predicted_membership
grade_dict = dict(zip(fcm_centers.Cluster_id, fcm_centers.Grade))
print(grade_dict)

{9: 'A', 5: 'A-', 0: 'B', 6: 'B-', 2: 'C', 8: 'C-', 1: 'D', 3: 'D-', 4: 'E', 7: 'F'}

In [145]:
df = df.replace({'EXPECTED GRADES': grade_dict})

In [146]:
df.head()

,S.No.,Roll No.,NAME,CT1 40,CT2 40,DHA/CA 40,DHA/CA 40.1,AA 20,Att 10,Total150,EXPECTED GRADES,FINAL GRADES
0,1,1700537,a,31,A,27,30,17,0,105,B-,NaN
1,2,1700543,b,32,A,32,38,18,4,124,A-,NaN
2,3,1700565,c,28,A,28,30,17,2,105,B-,NaN
3,4,1700532,d,28,31,17,32,15,0,106,B-,NaN
4,5,1700539,e,28,27,28,30,15,10,111,B,NaN